@using EntityLayer.Concrete
@model List<Policlinic>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Poliklinikler</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Poliklinikler</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Polikliniklerin bilgileri aşağıda listelenmektedir.</h3>
                        <h3 style="float:right;"><a href="/AdminHospital/AddHospital/"><button class="btn btn-primary">Yeni Poliklinik Ekle</button></a></h3>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Poliklinik Adı</th>
                                    <th>Poliklinik Durumu</th>
                                    <th>Güncelle</th>
                                    <th>Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.PoliclinicID</td>
                                        <td>@item.PoliclinicName</td>
                                        <td>@item.PoliclinicStatus</td>
                                        <td><a href="/AdminPoliclinic/UpdatePoliclinic/@item.PoliclinicID"><button class="btn btn-warning">Güncelle</button></a></td>
                                        <td><a href="/AdminPoliclinic/DeletePoliclinic/@item.PoliclinicID"><button class="btn btn-danger">Sil</button></a></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Poliklinik Adı</th>
                                    <th>Poliklinik Durumu</th>
                                    <th>Güncelle</th>
                                    <th>Sil</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
