USE [master]
GO
/****** Object:  Database [arsiv]    Script Date: 20.06.2022 02:59:01 ******/
CREATE DATABASE [arsiv]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'arsiv', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\arsiv.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'arsiv_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\arsiv_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [arsiv].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [arsiv]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 20.06.2022 02:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_adi] [nvarchar](50) NULL,
	[admin_sifre] [nvarchar](50) NULL,
	[admin_mail] [nvarchar](50) NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bolum]    Script Date: 20.06.2022 02:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bolum](
	[bolum_id] [int] IDENTITY(1,1) NOT NULL,
	[bolum_adi] [nvarchar](50) NULL,
	[oda_id] [int] NULL,
 CONSTRAINT [PK_bolum] PRIMARY KEY CLUSTERED 
(
	[bolum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dosya]    Script Date: 20.06.2022 02:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dosya](
	[dosya_id] [int] IDENTITY(1,1) NOT NULL,
	[dosya_adi] [nvarchar](50) NULL,
	[klasor_id] [int] NULL,
 CONSTRAINT [PK_dosya] PRIMARY KEY CLUSTERED 
(
	[dosya_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evrak]    Script Date: 20.06.2022 02:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evrak](
	[evrak_id] [int] IDENTITY(1,1) NOT NULL,
	[evrak_adi] [nvarchar](50) NULL,
	[dosya_id] [int] NULL,
	[evrak_konu] [nvarchar](50) NULL,
	[evrak_durumu] [bit] NULL,
	[evrak_girisTarihi] [nvarchar](50) NULL,
	[evrak_duzenlemeTarihi] [nvarchar](50) NULL,
 CONSTRAINT [PK_evrak] PRIMARY KEY CLUSTERED 
(
	[evrak_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[klasor]    Script Date: 20.06.2022 02:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[klasor](
	[klasor_id] [int] IDENTITY(1,1) NOT NULL,
	[klasor_adi] [nvarchar](50) NULL,
	[raf_id] [int] NULL,
 CONSTRAINT [PK_klasor] PRIMARY KEY CLUSTERED 
(
	[klasor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oda]    Script Date: 20.06.2022 02:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oda](
	[oda_id] [int] IDENTITY(1,1) NOT NULL,
	[oda_adi] [nvarchar](50) NULL,
 CONSTRAINT [PK_oda] PRIMARY KEY CLUSTERED 
(
	[oda_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raf]    Script Date: 20.06.2022 02:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raf](
	[raf_id] [int] IDENTITY(1,1) NOT NULL,
	[raf_adi] [nvarchar](50) NULL,
	[bolum_id] [int] NULL,
 CONSTRAINT [PK_raf] PRIMARY KEY CLUSTERED 
(
	[raf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[secim]    Script Date: 20.06.2022 02:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[secim](
	[secim_id] [int] IDENTITY(1,1) NOT NULL,
	[secim_odaAdi] [nvarchar](50) NULL,
	[secim_bolumAdi] [nvarchar](50) NULL,
	[secim_rafAdi] [nvarchar](50) NULL,
	[secim_klasorAdi] [nvarchar](50) NULL,
	[secim_dosyaAdi] [nvarchar](50) NULL,
	[secim_evrakAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_secim] PRIMARY KEY CLUSTERED 
(
	[secim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
